@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.nonveg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

.veg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mr {
    margin: 20px;
}

.demo {
    padding: 100px 100px;
    /* height: 900px; */
}

.pd {
    padding: 20px 0px;
}

.navB {
    padding: 0px;
}

.navBar {
    height: 90px;
    background-color: white;
}

.veg-h {
    margin-left: 55px;
}

.non-v {
    margin-left: 55px;
}

.btn {
    margin: 0px 5px;
}

.veg-cat {
    display: flex;
    justify-content: center;
}

.veg-cat span {
    margin: 0 10px;
    font-size: 20px;
}

.btn-cart {
    /* margin:  0px 10px; */
    font-size: 15px;
    padding: 5px 9px;
}

.cart-m {
    margin: 10px 20px;
    /* border: 2px solid black; */
}

.selected-cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.reduceItem {
    /* cursor: pointer; */
    /* font-size: 40px; */
    margin-right: 2px;
    /* background-color: tomato; */
    /* padding: 3px 10px; */
    /* color: white; */
}

.IncreaseItem {
    /* cursor: pointer; */
    /* font-size: 40px; */
    margin-left: 2px;
}

.btn-rc {
    margin-left: 15px;
}

.user {
    margin: 50px 100px;
}

.UserF {
    width: 400px;
    margin-top: 20px;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: aqua;
    /* display: flex; */
    /* justify-content: center; */
}

.ubtn {
    border-radius: 10px;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: 140px;
    background-color: chartreuse;
    margin-top: 10px;
}

.seller-btn {
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    /* left: 140px; */
    background-color: chartreuse;
    margin-top: 10px;
}

.ubtn:hover {
    background-color: aqua;
}

.uinput {
    border-radius: 8px;
    padding: 0px 10px;
}

.UserF input {
    margin: 10px 0px;
}

.demoU {
    border: 2px solid black;
    width: 300px;
    height: 130px;
    list-style: none;
    background-color: rgb(255, 158, 47);
    margin: 20px 10px;
    border-radius: 10px;
}

.demoU:hover {
    background-color: chartreuse;
}

.demoU p {
    margin: 0px 10px;
}

.UData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Uabout {
    margin: 30px;
    text-align: center;
}

.Uli {
    list-style: none;
}

.PrTitle {
    font-weight: bold;
}

.PName {
    font-size: 20px;
}

.filter {
    position: relative;
    left: 850px;
    top: 0px;
}

.btn-f {
    margin: 0px 10px;
}

.btn-r {
    background-color: darkorange;
    color: black;
}

.btn-y {
    background-color: white;
    color: black;
}

.btn-g {
    background-color: greenyellow;
    color: black;
}

.User-About {
    height: 600px;
    padding: 20px 0 0 0;
    border-radius: 30px;
    width: 1000px;
    border: 2px solid black;
    background-color: aqua;
}


.about-u {
    display: flex;
    justify-content: center;
}

.nav-tag:hover {
    color: red;
}


.f1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.f2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.contact-data {
    height: 400px;
    margin: 20px 0px;
}

.feedback {
    border: 2px solid black;
}

.f-width {
    width: 1100px;
}

.footer-bottom {
    background-color: #444;
    padding: 10px 0;
    margin: 20px 40px;
    text-align: center;
    color: white;
}

.homeO {
    width: 300px;
    height: 200px;
    margin: 20px;
    /* border-radius: 200px; */
    /* background-color: yellow; */
}

.homeStyle {
    list-style: none;
}

.mobileAddToCartBtn {
    background-color: orange;
    border: 0.5px solid black;
    margin-left: 10px;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 15px;
}

.mobileBuyNowBtn {
    background-color: greenyellow;
    border: 0.5px solid black;
    margin-left: 60px;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 15px;
}

.CartData {
    position: relative;
    left: 700px;
}

.card-data {
    margin-left: 10px;
}

.wish-icon {
    position: absolute;
    left: 250px;
}

.wish-delete {
    position: absolute;
    left: 250px;
}

.wish-icon:hover {
    color: darkorange;
    cursor: pointer;
}

.wish-delete:hover {
    color: red;
    cursor: pointer;
}

.CartBuyNowBtn {
    background-color: greenyellow;
    border: 0.5px solid black;
    /* position: absolute; */
    margin-left: 105px;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 15px;
}

.logout-position {
    position: relative;
    left: 360px;
    width: 100px;
}

.logout-tag {
    color: red;
}

.logout-tag:hover {
    color: blue;
}

.wish-position {
    position: relative;
    left: 430px;
}

.nav-name:hover {
    color: darkorange;
}

.login-form {
    margin: 50px;
}

.pass-len {
    width: 270px;
    height: 32px;
    position: relative;
    left: 25px;
}

.signup {
    background-color: rgb(93, 255, 244);
    border: 2px solid black;
    border-radius: 15px;
    width: 320px;
    height: 400px;
    text-align: center;
}

.login {
    background-color: rgb(93, 255, 244);
    border: 2px solid black;
    border-radius: 15px;
    width: 320px;
    height: 310px;
    text-align: center;
}

.btn-signup {
    background-color: orange;
    border-radius: 10px;
    padding: 2px 20px;
    border: 2px solid black;
}

.btn-signup:hover {
    background-color: orange;
    border-radius: 10px;
    padding: 2px 20px;
    border: 2px solid black;
}

.btn-login {
    background-color: greenyellow;
    border-radius: 10px;
    padding: 2px 20px;
    border: 2px solid black;
}

.btn-reset {
    background-color: darkorange;
    border-radius: 10px;
    padding: 2px 20px;
    border: 2px solid black;
}

.btn-login:hover {
    background-color: greenyellow;
    border-radius: 10px;
    padding: 2px 20px;
    border: 2px solid black;
}

.brd {
    border: 2px solid black;
}

.add-mobiles {
    position: absolute;
    right: 40px;
    color: blue;
    border: none;
    list-style: none;
}

.add-mobiles:hover {
   color: red;
   border: none;
}

.forgot-password {
    background-color: rgb(93, 255, 244);
    border: 2px solid black;
    border-radius: 15px;
    width: 320px;
    height: 130px;
    text-align: center;
}

.forgot-p {
    color: blue;
    font-size: 15px;
    text-decoration: none;
}

.logout-btn {
    position: absolute;
    border: 2px solid black;
    border-radius: 6px;
    padding: 2px 9px;
    left: 155px;
}

/* .logout-btn:hover {
    position: absolute;
    border: 2px solid black;
    border-radius: 6px;
    padding: 2px 9px;
    color: white;
    background-color: red;
    left: 155px;
} */

.container {
    display: flex;
    justify-content: space-evenly;
}

.mr-top {
    margin-top: 60px;
}

.homepage {
    height: 500px;
    width: 100%;
    padding: 0px 100px 100px;
}

.edit-icon:hover{
    color:red;
}

.Edit-btn{
    list-style: none;   
    background-color: greenyellow;
    border: 2px solid black;
    padding: 3px 20px;
    border-radius: 5px;
}